.button-orange {
  background-color: orange;
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-family: "Lora";
  font-size: 20px;
}
.button-orange:hover {
  opacity: 0.8;
}
